.NavBar {
  background-color: #4f3b60;
  display: block;
  text-align: center;
  padding: 14px 14px;
  font-weight: bold;
  font-size: 20px;
  color: whitesmoke;
  top: 0;
  width: 100%;
  grid-area: 1 / span 4;
  margin-bottom: 10px;
}

.form {
  padding-top: 10px;
  background-color: #d9d9d9;
  border-radius: 14px;
  width: fit-content;
  text-align: center;
  display: inline-block;
  padding-bottom: 10px;
  margin: 10px;
  margin-left: 20px;
}

.input {
  border-radius: 8px;
  margin: 10px;
  height: 20px;
  width: 200px;
  text-align: center;
  border-style: hidden;
}

.label {
  padding-left: 10px;
  padding-right: 10px;
  width: 50px;
  font-weight: 600;
}

.btn {
  background-color: #754a9a;
  color: whitesmoke;
  border-radius: 15px;
  border-style: hidden;
  padding: 8px;
}

.cost {
  background-color: #d9d9d9;
  border-radius: 14px;
  width: 200px;
  height: 100px;
  text-align: center;
  display: inline-block;
  padding-bottom: 10px;
  margin: 10px;
  padding-top: 10px;
}

.cost-value {
  font-weight: 500;
  font-size: 50px;
}

.cars {
  border: 2px solid #754a9a;
  background-color: #d9d9d9;
  border-collapse: collapse;
  width: 100%;
  border-spacing: 10px;
}
th {
  border-bottom: 1px solid #754a9a;
  border-collapse: collapse;
  text-align: center;
  padding: 10px;
}

tr {
  padding: 10px;
  text-align: center;
  width: 100%;
}

.wrapper {
  display: grid;
  grid-template-areas: repeat(5, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.header-wrap {
  grid-column: 1 / 5;
  grid-row: 1;
}

.form-wrap {
  grid-column: 2 / 2;
  grid-row: 2;
  align-self: center;
  justify-self: center;
}

.cost-wrap {
  grid-column: 2 / 5;
  grid-row: 2;
  align-self: center;
  justify-self: center;
}

.table-wrap {
  grid-column: 1 /5;
  grid-row: 3;
  align-self: center;
  justify-self: center;
}
