.NavBar {
  background-color: #4f3b60;
  display: block;
  text-align: center;
  padding: 14px 14px;
  font-weight: bold;
  font-size: 20px;
  color: whitesmoke;
  top: 0;
  width: 100%;
  grid-area: 1 / span 4;
  margin-bottom: 10px;
}

.form {
  padding-top: 10px;
  background-color: #d9d9d9;
  border-radius: 14px;
  width: fit-content;
  text-align: center;
  display: block;
  padding-bottom: 10px;
  margin: 10px;
  margin-left: 20px;
}

.input {
  border-radius: 8px;
  margin: 10px;
  height: 20px;
  width: 200px;
  text-align: center;
  border-style: hidden;
}

.label {
  padding-left: 10px;
  padding-right: 10px;
  width: 50px;
  font-weight: 600;
}

.btn {
  background-color: #754a9a;
  font-size: 16px;
  color: whitesmoke;
  border-radius: 20px;
  border-style: hidden;
  padding: 10px;
  margin: 10px;
}
.btn-Pay {
  background-color: #754a9a;
  font-size: 20px;
  color: whitesmoke;
  border-radius: 25px;
  border-style: hidden;
  padding: 15px;
  margin: 10px;
}
.btn-Pay:active {
  background-color: #907f9e;
}

.cost {
  background-color: #d9d9d9;
  border-radius: 14px;
  width: 225px;
  height: 100px;
  text-align: center;
  display: block;
  padding-bottom: 10px;
  margin: 10px;
  padding-top: 10px;
}

.pay-block {
  border-radius: 14px;
  width: 225px;
  height: 100px;
  text-align: center;
  display: block;
  margin: 10px;
  padding-top: 10px;
}

.payCost-block {
  display: inline-block;
  margin: 10px;
}

.cost-value {
  font-weight: 500;
  font-size: 50px;
}

.cars {
  background-color: #d9d9d9;
  width: fit-content;
  margin: 15px;
  display: block;
  padding: 0px;
  float: left;
  display: table;
  border-radius: 5px;
  border-collapse: collapse;
}

th {
  text-align: center;
  padding: 10px;
  background-color: #907f9e;
  table-layout: auto;
  margin: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

tr {
  padding: 10px;
  text-align: center;
  margin: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

td {
  padding: 10px;
  margin: -4px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.wrapper {
  display: grid;
  grid-template-areas: repeat(4, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.header-wrap {
  grid-column: 1 / 4;
  grid-row: 1;
}

.form-wrap {
  grid-column: 2 / 2;
  grid-row: 2 / 2;
  align-self: center;
  justify-self: center;
}

.cost-wrap {
  grid-column: 2 / 4;
  grid-row: 2;
  align-self: center;
  justify-self: center;
  display: inline-block;
}

.table-wrap {
  grid-column: 1 /5;
  grid-row: 3;
  align-self: center;
  justify-self: center;
}
