.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
}

.cars-w {
  grid-column: 1 / -1;
  align-self: center;
}

.NavBar {
  background-color: #4f3b60;
  display: block;
  text-align: center;
  padding: 14px 14px;
  font-weight: bold;
  font-size: 20px;
  color: whitesmoke;
  top: 0;
  width: 100%;
  grid-area: 1 / span 4;
  margin-bottom: 10px;
}

.form {
  padding-top: 10px;
  background-color: #d9d9d9;
  border-radius: 14px;
  width: fit-content;
  height: 270px;
  text-align: center;
  padding-bottom: 10px;
  margin: 10px;
}

.input {
  border-radius: 8px;
  margin: 10px;
  height: 20px;
  width: 200px;
  text-align: center;
  border-style: hidden;
}

.label {
  padding-left: 10px;
  padding-right: 10px;
  width: 50px;
  font-weight: 600;
}

.btn {
  background-color: #754a9a;
  font-size: 16px;
  color: whitesmoke;
  border-radius: 20px;
  border-style: hidden;
  padding: 10px;
  margin: 10px;
  align-self: center;
}
.btn-Pay {
  background-color: #754a9a;
  font-size: 20px;
  color: whitesmoke;
  border-radius: 25px;
  border-style: hidden;
  padding: 15px;
  margin: 10px;
}
.btn-Pay:active {
  background-color: #907f9e;
}

.cost {
  background-color: #d9d9d9;
  border-radius: 14px;
  width: 225px;
  height: 100px;
  text-align: center;
  padding-bottom: 10px;
  padding-top: 10px;
  margin: 10px;
}

.selected {
  background-color: #d9d9d9;
  border-radius: 14px;
  width: 225px;
  height: 270px;
  text-align: center;
  padding-bottom: 10px;
  margin: 10px;
  padding-top: 10px;
}

.pay-block {
  border-radius: 14px;
  width: 225px;
  height: 100px;
  text-align: center;
  margin: 10px;
  padding-top: 10px;
}

.cost-value {
  font-weight: 500;
  font-size: 30px;
}

.cars {
  background-color: #d9d9d9;
  margin: 15px;
  padding: 0px;
  border-radius: 5px;
}

th {
  text-align: center;
  padding: 10px;
  background-color: #907f9e;
  width: 20%;
}

tr {
  padding: 10px;
  text-align: center;
}

td {
  padding: 10px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.activetr {
  color: black;
}

.inactivetr {
  color: #756981;
}
